sudo: required

language: python
python:
  - "3.6"

cache:
  pip: true
  directories:
    - "$HOME/.cache/pypoetry"

services:
  - docker

before_script:
  - docker run -e POSTGRES_USER=quora -e POSTGRES_PASSWORD=quora -e POSTGRES_DB=quora_testing -p 5001:5432 -d postgres:9.6

install:
  - pip install pip -U
  - curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py | python
  - source $HOME/.poetry/env
  - pip install tox-travis codecov

script:
  - tox

after_success:
  - codecov
